<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.ftsl.navigation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LiveoActionBarTheme" >
        <activity
            android:name="br.org.ftsl.activities.NavigationMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="br.org.ftsl.activities.ItemGridDetail"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  android:taskAffinity=""
                  android:excludeFromRecents="true"
                  android:noHistory="true">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.org.ftsl.activities.NavigationMain" />
        </activity>

        <receiver android:name="br.org.ftsl.broadcastreceiver.AgendaBroadcastReceiver">

            <intent-filter>
                <action android:name="FTSL_MY_AGENDA_TIMER"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="br.org.ftsl.broadcastreceiver.BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
